<html>
  <head>
    <link href="todos.css" media="all" rel="stylesheet" type="text/css">
    <script src="json2.js"></script>

    <!-- JQuery & UI Deps -->    
    <script src="jquery-1.6.2.min.js"></script>
    <script src="ui/jquery.ui.core.js"></script>
    <script src="ui/jquery.ui.widget.js"></script>
    <script src="ui/jquery.ui.mouse.js"></script>
    <script src="ui/jquery.ui.sortable.js"></script>

    <!-- Structure & Templating -->
    <script src="underscore-1.1.6.js"></script>
    <script src="backbone.js"></script>

    <!-- Todo App -->
    <script src="todos.js"></script>

    <style type='text/css'>
      textarea {
      height:500px;
      width:500px;
      }
      input[type="text"] {
      width: 450px;
      }
      #chatArea {
      width:600px;
      margin: 10px auto;
      }
    </style>
    <!-- Hook todo-list to jquery / sortable -->
    <script>
        // use event.target to gain access to the list, could also use jquery $(#todo-list)
        // use the event.srcElement to gain access to what changed.
        // figure out how to interact with the todo model, and persist new order
        $(function() {
            $( "#todo-list" ).bind( "sortupdate",
                function(event, ui) {
                    window.App.sortOnDrop();
                }
            );
            $( "#todo-list" ).sortable({
                //update: function(event, ui) { getOrder(event, ui); }
            });
            $( "#todo-list" ).disableSelection();
        });
    </script>
  </head>
  <body>
    <!-- Todo App Interface -->
    <div id="todoapp">

      <div class="title">
        <h1>Todos</h1>
      </div>

      <div class="content">

        <div id="create-todo">
          <input id="new-todo" placeholder="What needs to be done?" type="text">
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>

        <div id="todos">
          <ul id="todo-list"></ul>
        </div>

        <div id="todo-stats">
          
        </div>

      </div>

    </div>
    <ul id="instructions">
      <li>Double-click to edit a todo.</li>
      <li><a href="../../docs/todos.html">View the annotated source.</a></li>
    </ul>
    <div id="credits">
      Created by
      <br>
      <a href="http://jgn.me/">Jérôme Gravel-Niquet</a>
    </div>
    <!-- Templates -->
    <script type="text/template" id="item-template">
      <div class="todo <%= done ? 'done' : '' %>">
        <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <div class="todo-text"></div>
          <span class="todo-destroy"></span>
        </div>
        <div class="edit">
          <input class="todo-input" type="text" value="" />
        </div>
      </div>
    </script>
    <script type="text/template" id="stats-template">
      <% if (total) { %>
      <span class="todo-count">
        <span class="number"><%= remaining %></span>
        <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
      </span>
      <% } %>
      <% if (done) { %>
      <span class="todo-clear">
        <a href="#">
          Clear <span class="number-done"><%= done %></span>
          completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
        </a>
      </span>
      <% } %>
    </script>
  </body>
</html>
